<ion-header>
  <!-- use ion-toolbar for a normal toolbar and ion-navbar for navigation -->
  <ion-toolbar color='primary'>
    <ion-buttons left>
      <!-- left aligned content here -->
    </ion-buttons>

    <ion-title>
      <img src="assets/imgs/MiittiLogo.png" alt="logo" height="40px"/>
    </ion-title>

    <ion-buttons right>
      <!-- left aligned content here -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <ion-card>
    <img [src]="url" (click)="showImage()">
    <div id="map_canvas" #map_canvas *ngIf="message === ''">
    </div>
    <ion-card-content>
      <h1 class="card-text">Activity: {{title}}</h1>
      <p class="card-text">Posted by: {{username}}</p>
      <p class="card-text">Description: {{ description }}</p>
      <p class="card-text">Tagged as: {{ tags }}</p>
    </ion-card-content>
    <ion-card-content>
      <!-- <p class="card-text">{{ comment.comment }}</p> -->
    </ion-card-content>
  </ion-card>

  <div class="form" color="primary">
    <form id="commentForm">
      <ion-card>
        <ion-item>
        <ion-label color="primary" floating>Write a comment</ion-label>
        <ion-input [(ngModel)]="commentData.comment" type="text" name="comment"></ion-input>
        </ion-item>
      </ion-card>
    </form>
    <button *ngIf="commentData.comment" class="comment-btn" ion-button block (click)="addComment()">
      <ion-icon *ngIf="commentData.comment" name="text"></ion-icon>
    </button>
  </div>

</ion-content>
