page-single {

  .card-title{
    text-align: center;
    font-family: Streetwear;
    font-weight: 100;
    font-size: 15px;
  }
  .card{
    border-radius: 10px;
  }
  .card-author {
    font-size: 15px;
    font-weight: bold;
  }
}
