<ion-content class="login-content" padding>
  <video autoplay muted loop id="myVideo">
    <source src='../../assets/videos/loginvideo.mp4' type="video/mp4">
  </video>
  <ion-row class="logo-row">
    <ion-col>
      <img src="../../assets/imgs/LogoWhite.svg" width="200" height="100"/>
    </ion-col>
  </ion-row>
  <div class="login-box" >

    <form *ngIf="checkForm()" (submit)="doLogin()">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input id="input" type="text" [(ngModel)]="user.username" placeholder="Username" name="username" required #asd></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="user.password"  placeholder="Password" name="password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">Login</button>
        </ion-col>
      </ion-row>
    </form>

    <form *ngIf="!checkForm()" (submit)="register()">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" [(ngModel)]="user.username" placeholder="Username" name="username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="user.password"  placeholder="Password" name="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" [(ngModel)]="user.email"  placeholder="Email" name="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="user.full_name"  placeholder="Full name" name="full name" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">Register</button>
        </ion-col>
      </ion-row>
    </form>

    <button *ngIf="checkForm()" ion-button class="register-btn" block clear (click)="changeForm()">Create New Account</button>
    <button *ngIf="!checkForm()" ion-button class="register-btn" block clear (click)="changeForm()">Back to login</button>
  </div>
</ion-content>
