page-register {

  .tabbar show-tabbar {
    display: none;
  }

  .login-content {

    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      /* background: #399F8B; */
      padding: 20px 20px 0px 20px;
      margin-top: 0%;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px;
      padding-left: 30px;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px;
      box-shadow: none;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 0px;
    }

    .item-inner {
      border-bottom-color: #ffffff;
      box-shadow: none;
    }

    .submit-btn {
      background: #51CFB1;
      border-radius: 30px;
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }

}



