<ion-header>
  <!-- use ion-toolbar for a normal toolbar and ion-navbar for navigation -->
  <ion-toolbar color='primary'>
    <ion-buttons left>
      <!-- left aligned content here -->
    </ion-buttons>

    <ion-title>
      <img src="assets/imgs/MiittiLogo.png" alt="logo" height="40px"/>
    </ion-title>

    <ion-buttons right (click)="logout()" ion-button clear small color="danger" icon-start>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-card class="profilepic">
  <img src="../../assets/imgs/testpicture.jpg"><!-- TODO add a profile pic with a specific file_id -->
<!--</ion-card>-->

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card-header color="miittigold" *ngIf="userInfo">{{ this.userInfo.username }}</ion-card-header>
    <ion-card class="profilecard" *ngIf="userInfo">
      <ion-card-content>Full name: {{ this.userInfo.full_name }}</ion-card-content>
      <ion-card-content>Email: {{ this.userInfo.email }}</ion-card-content>
    </ion-card>

  <ion-grid>
      <ion-row *ngFor="let row of grid">
        <ion-col col-12 col-sm-6 *ngFor="let media of row">
            <ion-card>
              <img *ngIf="media.media_type == 'image'" class="card-img-bottom"
                   [src]="mediaProvider.mediaUrl + (media.filename | thumbnail:'medium')"
                   [alt]="media.title" (click)="openSingle(media.file_id)">
              <video *ngIf="media.media_type == 'video'" class="card-img-top"
                     [src]="mediaProvider.mediaUrl + media.filename"
                     controls [poster]="mediaProvider.mediaUrl + (media.filename | thumbnail:'medium')"></video>
              <audio *ngIf="media.media_type == 'audio'" class="card-img-top"
                     [src]="mediaProvider.mediaUrl + media.filename"
                     controls></audio>

              <ion-card-content>
                <p>{{ media.description }}</p>
                <ion-card-title>{{ media.title }}</ion-card-title>
                <p class="card-text">{{ media.description }}</p>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
