page-profile {

}
.titleicon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 5px;
  text-align:center;
}
.profilepic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid $primary;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.profilecard {
  background-color: rgba(218,222,222,0.6);
}
ion-label {
  color: $primary;
}
