<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/MiittiLogo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <!-- use ion-toolbar for a normal toolbar and ion-navbar for navigation -->
  <ion-toolbar color='primary'>
    <ion-buttons left>
      <!-- left aligned content here -->
    </ion-buttons>

    <ion-title>
      <img src="assets/imgs/MiittiLogo.png" alt="logo" height="40px"/>
    </ion-title>

    <ion-buttons right>
      <!-- left aligned content here -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <h2>Newest activities:</h2>

  <ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col col-12 col-sm-6 *ngFor="let media of row">
        <ion-card>
          <img *ngIf="media.media_type == 'image'" class="card-img-top"
               [src]="mediaProvider.mediaUrl + (media.filename | thumbnail:'medium')"
               [alt]="media.title" (click)="openSingle(media.file_id)">
          <video *ngIf="media.media_type == 'video'" class="card-img-top"
                 [src]="mediaProvider.mediaUrl + media.filename"
                 controls [poster]="mediaProvider.mediaUrl + (media.filename | thumbnail:'medium')"></video>
          <audio *ngIf="media.media_type == 'audio'" class="card-img-top"
                 [src]="mediaProvider.mediaUrl + media.filename"
                 controls></audio>

          <ion-card-content>
            <ion-card-title>{{ media.title }}</ion-card-title>
            <ion-card-title class="card-text">{{ media.description }}</ion-card-title>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <button (click)="postAttending(media.file_id)" ion-button clear small color="danger" icon-start>
                <ion-icon name='star'></ion-icon>
                Attend
              </button>
            </ion-col>
            <ion-col text-right>
              <button (click)="openSingle(media.file_id)" ion-button clear small color="danger" icon-start>
                <ion-icon name='text'></ion-icon>
                Comment
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
