page-categories {

  .category {
    height: 8rem;
  }

  ion-icon {
    font-size: 36px;
  }

  ion-content {
    background-color: $miittipurple !important;
  }
  ion-list-header {
    color: $miittigold !important;
  }
}
