ion-content {

  background-color: $secondary !important;

  .titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 5px;
    text-align: center;
  }

  #title,
  #image-item,
  ion-img {
    background-color: $secondary;
  }
  #new-event-title {
    color: $primary !important;
    text-align: center;
    font-size: 28px !important;
    font-family: Streetwear;
    border-bottom: 2px solid $primary;
  }
  ion-item {
    border-radius: 10px !important;
  }

}
