page-upload {

}
.titleicon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 5px;
  text-align:center;
}
ion-content {
  background-color: $miittipurple !important;
}
ion-list-header {
  color: $miittigold !important;
}
